*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.background{
	z-index: -1;
	position: fixed;
	width: 110%;
	height: 110%;
	background-image: url(../assets/background.jpg);
	background-size: cover;
	background-position: center;
	display: block;
	filter: blur(10px);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: -20px;
}

.foreground{
	position: absolute;
	width: 100%;
	height: 100vh;
	display: block;
}

.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between ;
}
.logo{
	width: 200px;
	mix-blend-mode: multiply;
	cursor: pointer;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	color: black;
	height: 3px;
	width: 0;
	background: white;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
}

.header{
	text-align: center;
	margin: 5%;
}

.formbox{
	margin: auto;
	padding-top: 2rem;
	width: 25%;
	height: 50%;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(210, 210, 210, 0.5);
}

input[type=text]{
	width: 80%;
	padding: 0.4rem 0.2rem;
	background: #1a1a1a;	
	color: #fefefe;
	font-size: 1.5rem;
	border: 0px;
	border-bottom: 4px solid #404040;
	border-radius: 4px;
	margin-bottom: 1rem;
}

input[type=submit]{
	width: 80%;
	padding: 0.4rem 0.2rem;
	border: 0px;
	border-radius: 4px;
	background: #1a1a1a;
	color: #fefefe;
}

label{
	font-size: 1.7rem;
}
