/* Universal Selector */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

body {
  color: #061c20;
  font-size: 16px;
  font-family: sans-serif;

  border-top: 10px solid#f7f7f7a1;

  position: center;
}

/* Smaller Element */
h1,
h2,
h3 {
  color: #061c20;
}

h1 {
  font-size: 85px;

  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}
h3 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;

  line-height: 1.5;
  margin-bottom: 25px;
  margin-right: 80px;
  margin-left: 80px;
}

ul,
ol {
  margin-left: 80px;
}

li {
  margin-top: 15px;
  font-size: 22px;

  margin-bottom: 15px;
}

li:last-child {
  margin-bottom: 20px;
}

/*******************Container will update as I proceed****************/
.container {
  width: 1000px;

  margin: 0.3rem auto;
  position: center;
}
/********************************************************************/

/*********************************Headers***************************/
.main-header {
  background-image: url(../assets/background.jpg);
  /* padding example */
  background-size: cover;
  background-position: center;
  display: flex;
  position: center;
  padding: 10px 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
}

.post-header {
  margin-bottom: 2rem;
}
/*******************************Headers End**************************/

/*********************navbar, navlist, and navlinks*****************/
.navbar {
  margin-bottom: 1.5rem;
  margin-top: 0;
  margin-left: 30rem;
  z-index: 10;
  width: 3rem;
  display: flex;
  word-spacing: 0.5rem;
  justify-content: center;
  align-items: normal;
}

.nav-list {
  display: flex;
  /* position: center;*/
  margin: 10px;
  width: 1000px;
  margin-left: -15.75px;
  /*justify-content: center;*/
  background-size: cover;
  background-position: center;
  background-color: #061c20;
  padding: 2px 15px;
  margin-bottom: -.5rem;
}

.nav-link {
  font-size: 1rem;
  color: #f7f7f7e8;
  width: 35rem;
  font-style: bold;
  border-radius: 5rem;
  margin: 1rem 1rem;
  text-transform: uppercase;
  border: 0.1rem solid whitesmoke;

  text-align: center;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
  position: relative;
  overflow: hidden;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2rem;
  background-color: #f7f7f764;
  left: -20%;
  transform: rotate(-40deg) translate(-4rem);
  transform-origin: left bottom;
  opacity: 0.8;
  transition: left 0.3s;
}

.nav-link:hover::before {
  left: 110%;
}
/********edit navlink visited******/

nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}
/***********************************end of navis*************************/

/* establishing aside classes for frames
aside {
  background-color: #1098ad64;
  border-top: 5px solid #05191c;
  border-bottom: 5px solid #061c20;
  
  padding: 50px 0;
  width: 500px;
}
*/

/********************************Types of Hiking ***********************/
.hike-type{
  width: 85%;
  background-color: #f7f7f7a1;
  text-align: center;
  margin-left:5rem;
  margin-bottom: 1rem;
}



/******************************Frames**********************************/
.intro-frame {
  background-color: #1098adaa;
  background-size: cover;
  background-position: center;
  border-top: 5px solid #05191c;
  border-bottom: 5px solid #05191c;
  overflow: hidden;
  margin: 10px;
  padding: 50px 15px;
  width: 1000px;
}

.main-pic-frame {
  margin: 10px;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-color: rgba(23, 19, 19, 0.44);
  border: 5px solid;
  border-radius: 2rem;
}
.equipment-pic-frame {
  margin-right: 150px;
  margin-left: 7rem;
  background-color: rgba(23, 19, 19, 0.44);
  background-image: url(../assets/background.jpg);
  background-size: cover;
  border: 5px solid #05191c;
  border-radius: 3rem;
  margin-bottom: 2rem;
}
.entry-lvl-frame {
  background-color: #f7f7f764;
  border-top: 5px solid #05191c;
  border-bottom: 5px solid #05191c;
  margin: 10px;
  padding: 50px 15px;
  width: 1000px;
}

.equipment-stick-frame {
  margin-right: 150px;
  margin-left: 7rem;
  position: relative;
  background-color: rgba(23, 19, 19, 0.44);
  background-image: url(assets/background.jpg);
  /* background-size: cover;*/
  border: 5px solid #05191c;
  overflow: hidden;
  border-radius: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
/**************************Pictures***************************/
/***to be continued 12.01*/
.intro-pic {
  position: center;
  width: 85%;
  height: 700px;
  margin-top: 50px;
  margin-left: 5rem;
  padding: 20px;
  margin-bottom: 50px;
}

/******used for multiple pics****/
.hiking-gear-pics {
  margin: 15px;
  border: 3px solid #061c20;
  border-radius: 2rem;
  justify-content: space-evenly;
  margin-left: 2rem;
  width: 175px;
  height: 200px;
}

/*********applied to single pics***/
.hiking-gear-pic {
  position: center;
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 25rem;
  height: 25rem;
}
/*will replace once final pictures are added*/
.logo {
  position: relative;
  margin: 0 auto;
  width: 250px;
}

/**************************Paragraphs*************************/
.intro-par {
  font-size: 25px;
  font-style: italic;
  text-transform: none;

  text-align: center;
}
.main-topic-par {
  font-size: 20px;
  font-style: oblique;
  margin-left: 5rem;
}
.link-par {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin-left: 8rem;
  color: orange;
}
/************************Paragraph Class End*******************/

/***********************Outline Topics**************************/
.outline-main-topic {
  text-align: left;
  text-decoration: underline;
  margin-top: 3rem;
  margin-left: 5rem;
}

.outline-subtopic {
  text-align: left;
}
/******under construction 11.22.23***/
.outline-entrylvl-topic {
  text-align: left;
  text-decoration: underline;
}
.resource {
  color: #f7f7f7a1;
}
/**********************Outline End*********************/

/*******************outline lists*********************/
.outline-main-list {
  margin-left: 8rem;
}
/**********************end*****************************/

article {
  margin-bottom: 60px;
}

body {
  background-color: #f7f7f7;
}

.post-img {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  position: center;
}

/**************************Background ***********************/
.background {
  z-index: -1;
  position: fixed;
  width: 110%;
  height: 110%;
  background-image: url(../assets/creek.JPG);
  background-size: cover;
  background-position: center;
  display: block;
  filter: blur(10px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -20px;
}
/***********************Background End***********************/

/*******************???????????????????**********/
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/*
h2 {
  /* background-color: orange; 
  position: relative;
}*/

/*
.foreground {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
}
*/
